<!DOCTYPE html>
<html lang="en">
<head>
    <style>
 body{
    background-color:grey;
    }
 form{
    border:red 2px solid;
    margin:10px 20px 10px 200px;
    padding:10px 100px 50px;
    border-radius:50px;
    background-color:green yellow;
    }
    h2{
    text-align:center;
    color:white;
    background-color:green;
    }

 #h12{
  color: red;
  margin-left:500px;
 }
 #h11{
  color: green;
  font-family: courier;
  font-size: 160%;
 }

 </style>
<body>
    <h2>WELCOME TO TEMPLATE</h2>
    <form>
        <h1 id="h11">Register your Details</h1>
        enter your name:
        <input type="text" name="fname"><br>
        enter your Email:
        <input type="text" name="email"><br>
        enter your number:
        <input type="text" name="num"><br>
        Select your location:
        <select><option>Andhra Pradesh</option>
            <option>Telanagana</option>
            <option>Karnataka</option>
        </select><br>
        Select language:
        <select>
            <option>English</option>
            <option>Telugu</option>
            <option>Hindi</option>
        </select><br>
    select Gender:
    <input type="radio" value="Male" name="gen">M
    <input type="radio" value="Male" name="gen">F
    <br>
    <input type="button" value="register">
    </form>
    <h1 id="h12">Thank you for register</h1>
</body>

</head>
</html>
>



